fastapi
uvicorn
langchain
langgraph
langchain-community
langchain-ollama
langchain-chroma
chromadb
pydantic
python-multipart
langgraph-checkpoint-sqlite
ddgs
requests    
beautifulsoup4 
readability-lxml
pypdf
debugpy